html {
    font-size: 62.5%; /* 1rem = 10px */
    color-scheme: light dark;
}

body {
  font-family: monospace;
  max-width: 30%;
  margin: 2rem auto;
  padding: 2rem;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 3rem;
}

ul {
  font-size: 3rem;
  list-style-type: none;
  padding: 0;
}

li {
  padding: 1.5rem 0;
  border-bottom: 0.1rem solid light-dark(#eee, #333);
}

a {
  color: light-dark(#555, #aaa);
  text-decoration: none;
  display: block;

  &:hover {
    color: light-dark(#000, #fff);
  }
}
